/* Canvas and pixels */

.canvas {
  background-color: #757575;
  /* border-radius: 20px; */
  border: 2px solid black;
  width: 384px;
  padding: 20px;
  margin: 10 auto;
}

.pixel {
  display: inline-block;
  background-color: #f9fffb;
  box-shadow: 1px 1px 0.5px #000;
  width: 20px;
  height: 20px;
  margin: 2px;
}

.canvas-menu {
  border: 2px solid #000;
}

/* Reusable CSS color variables */
:root {
  --red: #d62828;
  --green: #9fd356;
  --blue: #3c91e6;
  --yellow: #ffca3a;
  --purple: #5b507a;
  --orange: #f4681d;
  --white: #ffffff;
  --black: #000000;
}

/* Palette and each color */

.palette-wrap {
  border: 1px solid red;
}

.palette-header {
  border: 2px solid black;
  background: #fff;
  position: relative;
  z-index: 10;
}

.palette {
  background-color: pink;
  /* border-radius: 20px; */
  border: 2px solid black;
  padding: 10px;
  /* width: 80%; */
  margin: 0 auto;
  position: relative;
  top: -10px;
}

.color {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid black;
  width: 40px;
  height: 40px;
}

#color1,
.red {
  background-color: var(--red);
}
#color2,
.green {
  background-color: var(--green);
}
#color3,
.blue {
  background-color: var(--blue);
}
#color4,
.yellow {
  background-color: var(--yellow);
}
#color5,
.purple {
  background-color: var(--purple);
}
#color6,
.orange {
  background-color: var(--orange);
}
#color7,
.black {
  background-color: var(--black);
}
#color8,
.white {
  background-color: var(--white);
}

/* Eraser */
#eraser,
.none {
  background-color: none;
}

.line {
  width: 41px;
  height: 15px;
  border-bottom: 3px solid var(--red);
  transform: rotate(-45deg);
  position: relative;
  top: 6px;
  right: 6px;
}

/* #current-color {
    
} */

/* Skeleton */

body {
  margin: 0;
}

header,
footer {
  background-color: #c1f7dc;
  width: 100%;
  padding: 0.2em;
}

header {
  margin: 0 0 0.5em 0;
}

footer {
  margin: 0 auto;
}

/* header menu */
/* .menuButton {
  float: right;
} */

/* Fonts */

h1 {
  color: #ff5e5b;
}

/* Media queries */
